h1, h2, h3 {
    color: #fff;
}

hr{
    margin: 5px 0px;
    border-top: 1px solid #E7D793;
}

body {
    background-color: #171618;
    color: #E7D793;
    text-align: center;
}

footer {
    margin-top: 30px;
}

/* Links */
a{
    text-decoration: none;
    color: #E7D793;
}
a:hover{
    text-decoration: none;
    color: #E7D793;
}

/* Media */
img {
    width: 100%
}

.media_icon {
    max-width: 250px;
}

/* Navigation */
select {
    width: 100%;
    background-color:#0F0F10;
    border:1px solid;
    height: 30px;
}

ul {
    list-style: none;
}

th {
    text-align: center;
}

.mainContent, container {
    max-width: 90%;
    background-color:#0F0F10;
    border:1px solid;
    border-top: none;
    padding-bottom: 30px;
}

/* Navbar */
.navbar{
    background-color: #E7D793;
    border: 0px;
    border-radius: 0px;
    margin-bottom: 0px;
}
.form-control, .btn-default, .btn-default:hover, .navbar-inverse .navbar-nav>li>a:hover{
    background-color: #07030C;
    color: #fff;
    border: 0px;
    border-radius: 0px;
}

.navbar-light .navbar-nav .nav-link{
    color: #000 !important;
}

.cover {
    width: auto;
    max-width: 100%;
}

.cover-2017 {
    max-width: 100%;
    width: auto;
}

.profile {
    width: 35%;
    max-width: 130px;
}

.no-margin {
    margin: 0px !important;
}

.no-padding {
    padding: 0px !important;
}

@media (min-width: 1200px)
.row {
    margin-left: 0px !important;
}

.button {
    border: 1px solid;
    color: #E7D793;
    margin-bottom: 10px;
}

.title-hover{
    position: absolute;
    top: 0;
    left: 0;
    background-color:#0F0F10;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
}

.title-hover:hover{
    width: 100%;    
    height: 100%;
    overflow: hidden;
    opacity: 0.8;
    background-color: #07030C;
    overflow: hidden;
}

.card-block {
    background-color: #171618;
    padding: 1px 0px;
}

.card {
    padding-bottom: 10px;
}

.category {
    width: 10%;
    padding-bottom: 10px;
}