h1, h2, p{
	text-align: center;
}
.large-12, .side-nav li a:not(.button){
	padding: 0;
}
.large-3{
	padding-right: 0;
}
button{
	background-color: yellow;
}
img{
	display: block;
    margin-left: auto;
    margin-right: auto
}

.row {
	max-width: 90%;
}