
<!-- Footer -->
        <footer class="large-12 columns">
            <hr />
            <div class="large-6 columns">
                <p>&copy; Anthony Dessalles 2014</p>
            </div>
            <div class="large-6 columns">
                <ul class="inline-list">
                    {{ menu() }}
                </ul>
            </div>
        </footer>
    </div>
</div>
    <script src="{{ paths.theme }}javascripts/bolt-min.js"></script>
</body>
</html>
