<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ htmllang() }}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="{{ htmllang() }}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{ htmllang() }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ htmllang() }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {# make sure we always display a proper title: The record's title if there is one, appended with the
       sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
    <title>
      {% if record.title is defined %}{{ record.title|striptags }} | {% endif %}
      {{ app.config.get('general/sitename') }}
      {% if record.title is not defined and app.config.get('general/payoff') %} | {{ app.config.get('general/payoff') }}{% endif %}
    </title>

    {# paths.theme is always a correct path to the current theme. Even if you rename the theme-folder,
       this will keep working. See the documentation on paths: http://docs.bolt.cm/internals#paths #}
    <link rel="stylesheet" href="{{ paths.theme }}css/bolt-min.css">
    <link rel="icon" href="{{ paths.theme }}images/favicon-bolt.ico" />

    {#<!-- A variable from the theme's config: {{ theme.foo }} -->#}

</head>
<body>

{# Note: If you plan to modify this theme, be sure to make a _copy_ first. If you don't,
   this theme will be overwritten when you update Bolt in the future. Just copy the 'base-2014'
   folder to a new folder inside the 'theme/' folder, update the 'theme:' setting in
   config.yml, and you're good to go. Happy tweaking! :-) #}

<div class="row">
    <header>
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name"><h1><a href="{{ paths.root }}">{{ app.config.get('general/sitename') }}</a></h1></li>
                <li class="toggle-topbar menu-icon"><a href="#"></a></li>
            </ul>

            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    {# Include the menu, as defined in config/menu.yml. Note that this theme comes with it's own _sub_menu.twig. If this file wasn't included in the current theme, the default menu template in app/theme_defaults/_sub_menu.twig would be used. #}
                    {{ menu('main', '_sub_menu.twig') }}

                    {# Include the '_sub_searchbox.twig' template, for the searchbox. If this file wasn't included in the theme, the default searchbox template in app/theme_defaults/_sub_searchbox.twig would be used. #}
                    {% include '_sub_searchbox.twig' %}
                </ul>
            </section>
        </nav>
        <!-- Slider -->
        <ul class="bxslider">
          <li><a href="{{ paths.root }}film/the-dark-knight-rises" title="The Dark Knight Rises"><img src="{{ paths.theme }}images/the-dark-knight-rises.png"/></a></li>
          <li><a href="{{ paths.root }}film/avengers" title="Avengers"><img src="{{ paths.theme }}images/avengers.png"/></a></li>
          <li><a href="{{ paths.root }}jeu/halo-4" title="Halo 4"><img src="{{ paths.theme }}images/halo-4.png"/></a></li>
          <li><a href="{{ paths.root }}jeu/injustice-les-dieux-sont-parmi-nous" title="Injustice Les Dieux sont Parmi Nous"><img src="{{ paths.theme }}images/injustice-les-dieux-sont-parmi-nous.png"/></a></li>
          <li><a href="{{ paths.root }}comic/justice-league-tome-1-aux-origines" title="Justice League - Tome 1 : Aux Origines"><img src="{{ paths.theme }}images/justice-league-tome-1-aux-origines.png"/></a></li>
          <li><a href="{{ paths.root }}jeu/tomb-raider-xb360" title="Tomb Raider"><img src="{{ paths.theme }}images/tomb-raider.png"/></a></li>
          <li><a href="{{ paths.root }}jeu/batman-arkham-asylum-xb360" title="Batman Arkham Asylum"><img src="{{ paths.theme }}images/batman-arkham-asylum.png"/></a></li>
          <li><a href="{{ paths.root }}jeu/batman-arkham-city" title="Batman Arkham City"><img src="{{ paths.theme }}images/batman-arkham-city.png"/></a></li>
          <li><a href="{{ paths.root }}jeu/batman-arkham-origins" title="Batman Arkham Origins"><img src="{{ paths.theme }}images/batman-arkham-origins.png"/></a></li>
          <li><a href="{{ paths.root }}serie/arrow" title="Arrow"><img src="{{ paths.theme }}images/arrow.png"/></a></li>
          <li><a href="{{ paths.root }}film/spider-man-3" title="Spider-Man 3"><img src="{{ paths.theme }}images/spider-man-3.png"/></a></li>
          <li><a href="{{ paths.root }}jeu/marvel-ultimate-alliance" title="Marvel Ultimate Alliance"><img src="{{ paths.theme }}images/marvel-ultimate-alliance.png"/></a></li>
          <li><a href="{{ paths.root }}jeu/marvel-ultimate-alliance-2" title="Marvel Ultimate Alliance 2"><img src="{{ paths.theme }}images/marvel-ultimate-alliance-2.png"/></a></li>
          <li><a href="{{ paths.root }}film/the-amazing-spider-man" title="The Amazing Spider-Man"><img src="{{ paths.theme }}images/the-amazing-spider-man.png"/></a></li>
          <li><a href="{{ paths.root }}film/batman-et-red-hood-sous-le-masque-rouge" title="Batman et Red Hood : Sous le Masque Rouge"><img src="{{ paths.theme }}images/batman-et-red-hood-sous-le-masque-rouge.png"/></a></li>
          <li><a href="{{ paths.root }}serie/batman-la-serie-animee" title="Batman La Série Animée"><img src="{{ paths.theme }}images/batman-la-serie-animee.png"/></a></li>
          <li><a href="{{ paths.root }}film/batman-the-dark-knight-returns-partie-1" title="Batman The Dark Knight Returns"><img src="{{ paths.theme }}images/batman-the-dark-knight-returns.png"/></a></li>
          <li><a href="{{ paths.root }}serie/la-ligue-des-justiciers" title="La Ligue des Justiciers"><img src="{{ paths.theme }}images/justice-league.png"/></a></li>
          <li><a href="{{ paths.root }}serie/the-flash" title="The Flash"><img src="{{ paths.theme }}images/the-flash.png"/></a></li>
          <li><a href="{{ paths.root }}serie/le-trone-de-fer" title="Game of Thrones"><img src="{{ paths.theme }}images/game-of-thrones.png"/></a></li>
          <li><a href="{{ paths.root }}film/star-wars-episode-iii-la-revanche-des-sith" title="Star Wars III"><img src="{{ paths.theme }}images/star-wars-iii.png"/></a></li>
          <li><a href="{{ paths.root }}film/le-seigneur-des-anneaux-le-retour-du-roi" title="Le Retour du Roi"><img src="{{ paths.theme }}images/le-retour-du-roi.png"/></a></li>
          <li><a href="{{ paths.root }}film/x-men-days-of-future-past" title="X-Men: Days of Future Past"><img src="{{ paths.theme }}images/x-men-days-of-future-past.png"/></a></li>
          <li><a href="{{ paths.root }}film/le-roi-arthur" title="Le Roi Arthur"><img src="{{ paths.theme }}images/le-roi-arthur.png"/></a></li>
          <li><a href="{{ paths.root }}film/man-of-steel" title="Man of Steel"><img src="{{ paths.theme }}images/man-of-steel.png"/></a></li>
          <li><a href="{{ paths.root }}film/matrix-revolutions" title="Matrix Revolutions"><img src="{{ paths.theme }}images/matrix-revolutions.png"/></a></li>
          <li><a href="{{ paths.root }}film/watchmen-les-gardiens" title="Watchmen"><img src="{{ paths.theme }}images/watchmen.png"/></a></li>
        </ul>
    </header>
</div>
<div class="row">
    <div class="container large-12 columns">
