{# This file is inserted as the 'footer' of each listed record. #}
<h6>
	{# include the 'default' links to taxonomies. Check the documentation for ways to modify and customize
       what is output to the browser: http://docs.bolt.cm/taxonomies#taxonomies #}
    {% include '_sub_taxonomylinks.twig' with {record: record} %}
    {% set recdate = record.datepublish|localdate("%A %B %e, %Y") %}
    <br>{{ __('Written by <em>%name%</em> on %date%',{ '%name%': record.user.displayname, '%date%': recdate }) }} <br>
</h6>
