{% include '_header.twig' %}
<!-- Main Page Content and Sidebar -->
    <!-- Main Blog Content -->
    <div class="large-8 columns" role="content">

        <article>
            <h2>{{ record.title }}</h2>
            {% if record.image!="" %}
                <div class="large-4 imageholder">
                    <a href="{{ image(value) }}">
                        <img src="{{ thumbnail(record.image, 640, 480) }}">
                    </a>
                </div>
            {% endif %}
            <p>{{ record.synopsis }}</p>
            {% if record.achat != "" %}
                <p><strong>Achat : </strong>{{ record.achat }}</p>
            {%  endif %}
            {% if record.sortie != "" %}
                <p><strong>Date de Sortie : </strong>{{ record.sortie }}</p>
            {%  endif %}
            {% if record.nombre != 0 %}
                <p><strong>Nombre : </strong>{{ record.nombre }}</p>
            {%  endif %}
            {% if record.bugs != "" %}
                <p><strong>Bugs : </strong>{{ record.bugs }}</p>
            {%  endif %}
            {% include '_recordfooter.twig' with {record: record} %}
            <p class="meta">
                {% set previous = record.previous('id') %}
                {% if previous %}
                    <a href="{{ previous.link }}">&laquo; {{ previous.title }}</a>
                {% endif %}
                -
                {% set next = record.next('id') %}
                {% if next %}
                    <a href="{{ next.link }}">{{ next.title }} &raquo;</a>
                {% endif %}
            </p>
            {% set relatedrecords = record.related() %}
            {% if relatedrecords is not empty %}
                <p class="meta">{{ __('Related content:') }}
                <ul>
                    {% for related in relatedrecords %}
                        <li><a href="{{ related.link }}">{{ related.title }}</a></li>
                    {%  endfor %}
                </ul>
                </p>
            {% endif %}
            {% if record.photo!="" %}
                    <a href="{{ image(value) }}">
                        <img src="{{ thumbnail(record.photo, 1000, 750) }}">
                    </a>
            {% endif %}
        </article>
    </div>
    <!-- End Main Content -->
    {% include '_aside.twig' %}
<!-- End Main Content and Sidebar -->
{% include '_footer.twig' %}
