{% include '_header.twig' %}

<!-- Main Page Content and Sidebar -->

    <!-- Main Blog Content -->
    <div class="large-8 columns">
        <h1>{{ app.config.get('general/sitename') }}</h1>
        {% if app.config.get('general/payoff') %}
            <h3>{{ app.config.get('general/payoff') }}</h3>
        {% endif %}
        <p>Le site <b>Inventarium</b> est l'inventaire complet de tout mon matériel, principalement multimédia. Il répertorie donc accessoires, disques durs, ordinateurs, comics, films, jeux vidéos et séries en tout genre.</p>
        <p>Retrouvez ci-dessous différents liens vous permettant de naviguer à travers ces divers éléments sur le site.</p>
        <hr>
        <h1>Liens utiles</h1>
        <h3>Films</h3>
        <p>&raquo; <a href="{{ paths.root }}supports/numerique" title="Voir les Films Numériques">Numériques</a></p>
        <p>&raquo; <a href="{{ paths.root }}supports/blu-ray" title="Voir les Blu-ray">Blu-ray</a> ou <a href="{{ paths.root }}supports/dvd" title="Voir les DVD">DVD</p></a></p>
        <p>&raquo; <a href="{{ paths.root }}films-appreciations/a-voir" title="Les films à voir">À voir</a></p>
        <h3>Épisodes</h3>
        <p>&raquo; <a href="{{ paths.root }}episodes-supports/numerique" title="Voir les Épisodes Numériques">Numériques</a></p>
        <p>&raquo; <a href="{{ paths.root }}episodes-supports/dvd" title="Voir les Épisodes DVD">DVD</a></p>
        <h3>Jeux</h3>
        <p>&raquo; <a href="{{ paths.root }}jeux-consoles/playstation-1" title="Voir les jeux de PlayStation 1">PlayStation 1</a>, <a href="{{ paths.root }}jeux-consoles/playstation-2" title="Voir les jeux de PlayStation 2">PlayStation 2</a> ou <a href="{{ paths.root }}jeux-consoles/playstation-3" title="Voir les jeux de PlayStation 3">PlayStation 3</a></p>
        <p>&raquo; <a href="{{ paths.root }}jeux-consoles/playstation-portable" title="Voir les jeux de PlayStation Portable">PlayStation Portable</a></p>
        <p>&raquo; <a href="{{ paths.root }}jeux-consoles/nintendo-entertainment-system" title="Voir les jeux de NES">NES</a>, <a href="{{ paths.root }}jeux-consoles/super-nintendo-entertainment-system" title="Voir les jeux de Super Nintendo">Super Nintendo</a>, <a href="{{ paths.root }}jeux-consoles/nintendo-64" title="Voir les jeux de Nintendo 64">Nintendo 64</a>, <a href="{{ paths.root }}jeux-consoles/gamecube" title="Voir les jeux de GameCube">GameCube</a> ou <a href="{{ paths.root }}jeux-consoles/wii" title="Voir les jeux de Wii">Wii</a></p>
        <p>&raquo; <a href="{{ paths.root }}jeux-consoles/game-boy" title="Voir les jeux de Game Boy">Game Boy</a>, <a href="{{ paths.root }}jeux-consoles/game-boy-color" title="Voir les jeux de Game Boy Color">Game Boy Color</a> ou <a href="{{ paths.root }}jeux-consoles/game-boy-advance" title="Voir les jeux de Game Boy Advance">GBA</a></p>
        <p>&raquo; <a href="{{ paths.root }}jeux-consoles/sega-master-system" title="Voir les jeux de Sega Master System">SMS</a>, <a href="{{ paths.root }}jeux-consoles/mega-drive" title="Voir les jeux de Mega Drive">Mega Drive</a> ou <a href="{{ paths.root }}jeux-consoles/dreamcast" title="Voir les jeux de Dreamcast">Dreamcast</a></p>
        <p>&raquo; <a href="{{ paths.root }}jeux-consoles/pc" title="Voir les jeux de PC">PC</a></p>
        <p>&raquo; <a href="{{ paths.root }}jeux-consoles/xbox" title="Voir les jeux de Xbox">Xbox</a> ou <a href="{{ paths.root }}jeux-consoles/xbox-360" title="Voir les jeux de Xbox 360">Xbox 360</a></p>
        <h3>Comics</h3>
        <p>&raquo; <a href="{{ paths.root }}comics-collections/dc-anthologie" title="Voir les comics DC Anthologie">DC Anthologie</a></p>
        <p>&raquo; <a href="{{ paths.root }}comics-collections/dc-archives" title="Voir les comics DC Archives">DC Archives</a></p>
        <p>&raquo; <a href="{{ paths.root }}comics-collections/dc-classiques" title="Voir les comics DC Classiques">DC Classiques</a></p>
        <p>&raquo; <a href="{{ paths.root }}comics-collections/dc-deluxe" title="Voir les comics DC Deluxe">DC Deluxe</a></p>
        <p>&raquo; <a href="{{ paths.root }}comics-collections/dc-essentiels" title="Voir les comics DC Essentiels">DC Essentiels</a></p>
        <p>&raquo; <a href="{{ paths.root }}comics-collections/dc-nemesis" title="Voir les comics DC Nemesis">DC Nemesis</a></p>
        <p>&raquo; <a href="{{ paths.root }}comics-collections/dc-premium" title="Voir les comics DC Premium">DC Premium</a></p>
        <p>&raquo; <a href="{{ paths.root }}comics-collections/dc-renaissance" title="Voir les comics DC Renaissance">DC Renaissance</a></p>
        <p>&raquo; <a href="{{ paths.root }}comics-collections/dc-signatures" title="Voir les comics DC Signatures">DC Signatures</a></p>
        <p>&raquo; <a href="{{ paths.root }}comics-appreciations/a-lire" title="Voir les comics à lire">À lire</a></p>
    </div>
    {% include '_aside.twig' %}

<!-- End Main Content and Sidebar -->



{% include '_footer.twig' %}
