{% include '_header.twig' %}

<!-- Main Page Content and Sidebar -->

    <!-- Main Blog Content -->
    <div class="large-8 columns" role="content">

        <article>
            <h2>{{ record.title }}</h2>
            {% if record.original_title != "" %}
                <p><strong>Titre original : </strong>{{ record.original_title }}</p>
            {%  endif %}

            {% for key,value in record.values if key not in ['id', 'slug', 'datecreated', 'datechanged', 'datepublish', 'datedepublish', 'username', 'status', 'title', 'subtitle', 'ownerid'] %}
                {% if record.fieldtype(key) == "image" and value != "" %}
                    {% if record.image!="" %}
                        <div class="large-4 imageholder">
                            <a href="{{ image(value) }}">
                                <img src="{{ thumbnail(value, 640, 480) }}">
                            </a>
                        </div>
                    {% endif %}
                {%  endif %}
            {% endfor %}

            <p>{{ record.synopsis }}</p>
            {% if record.date != "" %}
                <p><strong>Date : </strong>{{ record.date }}</p>
            {%  endif %}
            {% if record.duree != 0 %}
                <p><strong>Durée d'un épisode : </strong>{{ record.duree }} minutes</p>
            {%  endif %}
            {% if record.note != 0 %}
                <p><strong>Note : </strong>{{ record.note }}/5</p>
            {%  endif %}
            {% if record.pays != "" %}
                <p><strong>Pays : </strong>{{ record.pays }}</p>
            {%  endif %}
            {% if record.episodes != 0 %}
                <p><strong>Nombre d'épisodes : </strong>{{ record.episodes }}</p>
            {%  endif %}
            {% if record.complete != "" %}
                <p><strong>Complète : </strong>{{ record.complete }}</p>
            {%  endif %}

            {# Uncomment this if you wish to dump the entire record to the client, for debugging purposes.
            {{ print(record) }}
            #}
            {% include '_recordfooter.twig' with {record: record} %}

            <p class="meta">
                {% set previous = record.previous('id') %}
                {% if previous %}
                    <a href="{{ previous.link }}">&laquo; {{ previous.title }}</a>
                {% endif %}
                -
                {% set next = record.next('id') %}
                {% if next %}
                    <a href="{{ next.link }}">{{ next.title }} &raquo;</a>
                {% endif %}
            </p>

            {% set relatedrecords = record.related() %}
            {% if relatedrecords is not empty %}
                <p class="meta">{{ __('Related content:') }}
                <ul>
                    {% for related in relatedrecords %}
                        <li><a href="{{ related.link }}">{{ related.title }}</a></li>
                    {%  endfor %}
                </ul>
                </p>
            {% endif %}
        </article>


    </div>

    <!-- End Main Content -->

    {% include '_aside.twig' %}

    <!-- End Main Content and Sidebar -->

    {% include '_footer.twig' %}
