<!-- Sidebar -->
<aside class="large-3 columns">
<div class="hide-for-small panel">
    {% for ct in app.config.get('contenttypes') %}
        {% setcontent records = ct.slug ~ "/latest/5" %}
        {% setcontent title = __('%contenttypes%',{'%contenttypes%': ct.name }) %}
        <h5><a href="{{ paths.root }}{{ct.slug}}">{{ __('%contenttypes%',{'%contenttypes%': ct.name }) }}</a></h5>
        <ul class="side-nav">
            {% for record in records %}
                <li><a href="{{ record.link }}" title="{{ record.title }}">&raquo; {{ record.title }}</a></li>
            {% else %}
                <li>{{ __('No recent %contenttype%.',{'%contenttype%': ct.singular_name }) }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>
</aside>
<!-- End Sidebar -->
