
<!-- Footer -->
        <footer class="large-12 columns">
            <hr />
            <div class="large-6 columns">
                <p>&copy; Anthony Dessalles {{ "now"|date("Y") }}</p>
            </div>
            <div class="large-6 columns">
                <ul class="inline-list">
                    {{ menu() }}
                </ul>
            </div>
        </footer>
    </div>
</div>
    <script src="{{ paths.theme }}js/jquery.2.2.4.js"></script>
    <script src="{{ paths.theme }}js/foundation.min.js"></script>
    <script>
      $(document).foundation();

        function init() {
            var imgDefer = document.getElementsByTagName('img');
            for (var i=0; i<imgDefer.length; i++) {
                if(imgDefer[i].getAttribute('data-src')) {
                    imgDefer[i].setAttribute('src',imgDefer[i].getAttribute('data-src'));
                } 
            } 
        }
        window.onload = init;
    </script>
</body>
</html>
