<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Anthony Dessalles">
    <link rel="icon" href="{{ paths.theme }}images/favicon-bolt.ico" />
    <title>
      {% if record.title is defined %}{{ record.title|striptags }} | {% endif %}
      {{ app.config.get('general/sitename') }}
      {% if record.title is not defined and app.config.get('general/payoff') %} | {{ app.config.get('general/payoff') }}{% endif %}
    </title>
    <link rel="stylesheet" href="{{ paths.theme }}css/foundation.min.css" />
    <link rel="stylesheet" href="{{ paths.theme }}css/perso.css" />
    <script src="{{ paths.theme }}js/modernizr.js"></script>
</head>
<body>
  <div class="row">
    <header>
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name"><h1><a href="{{ paths.root }}">{{ app.config.get('general/sitename') }}</a></h1></li>
                <li class="toggle-topbar menu-icon"><a href="#">+</a></li>
            </ul>
            <section class="top-bar-section">
              <ul class="left">
                {# Include the menu, as defined in config/menu.yml. Note that this theme comes with it's own _sub_menu.twig. If this file wasn't included in the current theme, the default menu template in app/theme_defaults/_sub_menu.twig would be used. #}
                {{ menu('main', '_sub_menu.twig') }}
              </ul>
     
              <ul class="right">
                {# Include the '_sub_searchbox.twig' template, for the searchbox. If this file wasn't included in the theme, the default searchbox template in app/theme_defaults/_sub_searchbox.twig would be used. #}
                {% include '_sub_searchbox.twig' %}
              </ul>
            </section>
        </nav>
    </header>
  </div>
  <div class="row">
    <div class="large-12 columns">
