<h6>
    {% include '_related_taxonomy.twig' with {record: record} %}
    {% include '_recordchronology.twig' with {record: record} %}
    {% set recdate = record.datepublish|localdate("%d/%m/%Y") %}
    <p>{{ __('Written by <em>%name%</em> on %date%',{ '%name%': record.user.displayname, '%date%': recdate }) }} </p>
</h6>
