{% if record.covers > 0 %}
    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">  
    	{% for i in 1..record.covers %}
	        <li>
	        	<img src="{{ app.paths.files }}jeux/covers/{{ record.slug }}-{{ "%02d"|format(i) }}.png" title="{{ record.slug }}">
	    	</li>
	    {% endfor %}
    </ul>
{% endif %}