{% if 'root' in user.roles %}
	{% set relatedrecords = record.related() %}
	{% if relatedrecords is not empty %}
		<h2>{{ l("related") }}</h2>
		<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-6">  
	    	{% for related in relatedrecords %}
		        <li>
		        	<a href="{{ related.link }}" title="{{ related.title }}">
			            <img src="{{ thumbnail(related.image, 120, 120) }}">
			            <p>{{ related.title }}</p>
			        </a>
		    	</li>
		    {% endfor %}
	    </ul>
	{% endif %}
{% endif %}