<h2>{{ l("chronology") }}</h2>
<p class="meta">
    {% set previous = record.previous('id') %}
    {% set next = record.next('id') %}
    {% if previous %}
       <a href="{{ previous.link }}">&laquo; {{ previous.title }}</a> - 
    {% endif %}
    {{ record.title }}
    {% if next %}
         - <a href="{{ next.link }}">{{ next.title }} &raquo;</a>
    {% endif %}
</p>