{% if 'root' in user.roles %}
    {% if record.taxonomy is defined %}
        <h2>{{ l("taxonomy") }}</h2>
        {% for type, values in record.taxonomy %}
            {% set taxonomy = values|length < 2 ? config.get('taxonomy')[type].singular_name : config.get('taxonomy')[type].name %}
            <p>
                <em>{{ l(taxonomy) }}:</em>
                {% for link, value in values %}
                    <a href="{{ link }}">{{ l(value) }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
        {% endfor %}
    {% endif %}
{% endif %}