{% set slides = [
  {'link': 'jeu/tomb-raider-xb360', 'img': 'tomb-raider.jpg'},
  {'link': 'jeu/halo-4', 'img': 'halo-4.jpg'},
  {'link': 'jeu/injustice-les-dieux-sont-parmi-nous', 'img': 'injustice-gods-among-us.jpg'},
] %}
<div id="featured" data-orbit>
  {% for slide in slides %}
    <a href="{{ paths.root ~ slide.link }}" title="{{ slide.img }}">
      <img src="{{ paths.theme }}images/{{ slide.img }}"/>
    </a>
  {% endfor %}
</div>
  