{% macro display_menu_item(item, loop) %}
<li class="{% if item.submenu is defined %}has-dropdown{% endif %}{% if item|current %} active{% endif %}">
    <a href="{{ item.link }}" {% if item.title is defined %}title='{{ item.title|escape }}'{% endif %}
       class='{% if item.class is defined %}{{item.class}}{% endif %}'>
        {{item.label}}
    </a>
    {% if item.submenu is defined %}
        <ul class="dropdown">
        {% for submenu in item.submenu %}
                {{ _self.display_menu_item(submenu, loop) }}
        {% endfor %}
        </ul>
    {% endif %}
</li>
{% endmacro %}

{% for item in menu %}
    {% if item.label is defined %}
        {{ _self.display_menu_item(item, loop) }}
    {% endif %}
{% endfor %}