{% include '_header.twig' %}
<div class="large-9 columns" role="content">
    <article>
        <!-- Record top -->
        {% include '_recordtop.twig' with {record: record} %}

        <!-- Record content -->
        {% include '_displays.twig' with {displays: [
            'nombre',
        ]} %}

        <!-- Related records -->
        {% include '_recordrelated.twig' with {record: record} %}

        <!-- Record footer -->
        {% include '_recordfooter.twig' with {record: record} %}
    </article>
</div>
{% include '_aside.twig' %}
{% include '_footer.twig' %}