{% include '_header.twig' %}
<!-- Main Page Content and Sidebar -->
{% include '_slider.twig' %}
<div class="large-9 columns">
  <!-- Intro -->
  <h1>{{ app.config.get('general/sitename') }}{% if app.config.get('general/payoff') %}, {{ app.config.get('general/payoff') }}{% endif %}</h1>
  <p>It includes movies, tv shows, games, comic books and much more.<br>It was developped with <a href="https://bolt.cm/" target="_blank">Bolt</a>.</p>
  <p>Below, you'll find the list of all the taxonomies available.</p>
  <!-- Taxonomy -->
  {% for category in config.get('taxonomy') %}
    <h2>{{ l(category.name) }}</h2>
    <p>
      {% for item in category.options %}
        <a href="{{ category.slug ~ '/' ~ item }}">{{ l(item) }}</a>{% if not loop.last %}, {% endif %}
      {% endfor %}
    </p>
  {% endfor %}
</div>
{% include '_aside.twig' %}
{% include '_footer.twig' %}
