{% include '_header.twig' %}
<!-- Main Page Content and Sidebar -->
    <!-- Main Blog Content -->
    <div class="large-9 columns" role="content">
        {# if used for listing a taxonomy: #}
        {% if taxonomytype is defined %}
            <h1>{{ __('Overview for') }}
                {% if taxonomy.options[slug] is defined %}
                    {{ taxonomy.options[slug] }}
                {% else %}
                    {{ slug }}
                {% endif %}
            </h1>
            {# taxonomies are fetched unordered by design. If we specified an order in config.yml, sort them here: #}
            {% set records = records|order(app.config.get('general/listing_sort')) %}
        {% endif %}

        {# This is also the default template for searchresults. If 'search' is defined,
           we display an appropriate title. The 'records' array contains all of the
           records matching the current query. If there are no results, the
           code in the 'else' part of the for-loop is used. #}
        {% if search is defined %}
            <h1>{{ __('Résultats pour <b>%search%</b>', { '%search%': search|escape }) }}</h1>
        {% endif %}

        <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">  
            {% for record in records %}
                {% if title is not defined and search is not defined and taxonomytype is not defined %}
                    {% set title = record.contenttype.name %}
                    <h1>{{ title }}</h1>
                {% endif %}
                    <li>
                        <a href="{{ record.link }}" title="{{ record.title }}">
                            <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ thumbnail(record.image, 150, 150) }}">
                            <p>{{ record.title }}</p>
                        </a>
                    </li>
            {% else %}
                <article>
                    {% if search is defined %}
                        <p>{{ __("No results found for '%search%'. Please try another search.", { '%search%': search|escape }) }}</p>
                    {% else %}
                        <h2>No content found.</h2>
                        <p>Unfortunately, no content could be found. Try another page, or go to the<a href="{{ paths.root }}">homepage</a>.</p>
                    {% endif %}
                    {#
                    optionally, you can redirect the browser to another page. Just uncomment the next line to do so.
                    {{ redirect('/') }}
                    #}
                </article>
            {% endfor %}
        </ul>
        {# If there are more records than will fit on one page, the pager is shown. #}
        {{ pager() }}
    </div><!-- End Main Content -->
    {% include '_aside.twig' %}
<!-- End Main Content and Sidebar -->
{% include '_footer.twig' %}
