{% include '_header.twig' %}
<div class="large-9 columns" role="content">
    <article>
        <!-- Record top -->
        {% include '_recordtop.twig' with {record: record} %}

        <!-- Record content -->
        {% include '_displays.twig' with {displays: [
            'original_title',
            'date',
            'duree',
            'note',
            'pays',
            'complete',
            'episodes',
            'lien',
            'seasons',
        ]} %}
        
        {% if record.seasons > 0 %}
            <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">  
            {% for i in 1..record.seasons %}
                <li><img src="{{ app.paths.files }}series/{{ record.slug }}-season-{{ "%02d"|format(i) }}.png" title="{{ record.slug }}-season-{{ "%02d"|format(i) }}"></li>
            {% endfor %}
            </ul>
        {%  endif %}

        <!-- Related records -->
        {% include '_recordrelated.twig' with {record: record} %}

        <!-- Record footer -->
        {% include '_recordfooter.twig' with {record: record} %}
    </article>
</div>
{% include '_aside.twig' %}
{% include '_footer.twig' %}
