<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }} &mdash; {{ site.subtitle }}</title>
        <meta charset="utf-8">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head_meta %}
            <meta name="robots" content="noindex, follow">
        {% endblock %}
        <link rel="icon" type="image/png" href="{{ site.url }}/images/{{ site.title|lower }}.png">
        <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml" title="{{ site.title }} activity feed" />
        {% block head_styles %}
            <link href="{{ site.url }}/css/games.css" rel="stylesheet" type="text/css" />
        {% endblock %}
        {% block head_scripts %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="{{ site.url }}/">{{ site.title }}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ site.url }}/blog">Posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ site.url }}/blog/categories">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ site.url }}/blog/tags">Tags</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="mainContent container">
            {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
        </div>
        <footer class="container">
            &copy; {{ "now"|date("Y") }} {{ site.title }} - Réalisation Anthony Dessalles
        </footer>

        {% block scripts %}
            <script src="{{ site.url }}/js/games.js"></script>
        {% endblock %}

        {% block scripts_after %}
        {% endblock %}
    </body>
</html>
