<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Library</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="shortcut icon" href="../images/favicon.ico">
		<link rel="stylesheet" href="css/library.css">
	</head>
	<body>
		{% include 'menu.html.twig' %}

		{% block content %}{% endblock %}
		
		<footer class="footer-4">
			<div class="container-fluid">
				<div class="divider"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-6 text-center text-md-left mt-2 mb-3 pt-1">
						<p class="copyright">
                            &copy; Anthony Dessalles {{ "now"|date("Y") }}. Designed by <a href="https://medialoot.com/" target="_blank">Medialoot</a>.
                        </p>
					</div>
				</div>
			</div>
		</footer>
		
		<script src="js/library.js"></script>
	</body>
</html>