{% extends 'base.html.twig' %}

{% block content %}
	{% set bg = random([1,2,3]) %}
	<section class="cover-1 text-center" style="background: #2b2d34 url(../images/{{ bg }}.jpg) center; background-size: cover;">
		<div class="cover-container pb-5">
			<div class="cover-inner container">
				<h1 class="jumbotron-heading"><b>Library</b></h1>
				<p class="lead">library description</p>
			</div>
		</div>
	</section>
		
	<section class="features-4 text-center">
		<div class="container">
			<div class="row justify-center">
				<div class="col-md-8 text-center" >
					<h2>Latest content</h2>
					<p class="lead mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus erat sed sem sagittis cursus.</p>
					<div class="divider"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-feature">
					<div class="rounded-circle justify-center">
						<em class="fa fa-2x fa-paint-brush"></em>
					</div>
					<h4>Clean Design</h4>
					<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
				</div>
				<div class="col-md-3 col-feature">
					<div class="rounded-circle justify-center">
						<em class="fa fa-2x fa-mobile"></em>
					</div>
					<h4>Responsive</h4>
					<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
				</div>
				<div class="col-md-3 col-feature">
					<div class="rounded-circle justify-center">
						<em class="fa fa-2x fa-code"></em>
					</div>
					<h4>Bootstrap 4</h4>
					<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
				</div>
				<div class="col-md-3 col-feature">
					<div class="rounded-circle justify-center">
						<em class="fa fa-2x fa-pencil"></em>
					</div>
					<h4>Easy to Edit</h4>
					<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
				</div>
			</div>
			<br>
			<br>
			<br>
			<div class="row justify-center">
				<div class="col-md-8 text-center" >
					<h2>Taxonomy</h2>
					<p class="lead mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus erat sed sem sagittis cursus.</p>
					<div class="divider"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-feature">
					<div class="rounded-circle justify-center">
						<em class="fa fa-2x fa-paint-brush"></em>
					</div>
					<h4>Clean Design</h4>
					<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
				</div>
				<div class="col-md-2 col-feature">
					<div class="rounded-circle justify-center">
						<em class="fa fa-2x fa-mobile"></em>
					</div>
					<h4>Responsive</h4>
					<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
				</div>
				<div class="col-md-2 col-feature">
					<div class="rounded-circle justify-center">
						<em class="fa fa-2x fa-code"></em>
					</div>
					<h4>Bootstrap 4</h4>
					<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
				</div>
				<div class="col-md-2 col-feature">
					<div class="rounded-circle justify-center">
						<em class="fa fa-2x fa-pencil"></em>
					</div>
					<h4>Easy to Edit</h4>
					<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
				</div>
				<div class="col-md-2 col-feature">
					<div class="rounded-circle justify-center">
						<em class="fa fa-2x fa-paint-brush"></em>
					</div>
					<h4>Clean Design</h4>
					<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
				</div>
				<div class="col-md-2 col-feature">
					<div class="rounded-circle justify-center">
						<em class="fa fa-2x fa-mobile"></em>
					</div>
					<h4>Responsive</h4>
					<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
				</div>
				<div class="col-md-2 col-feature">
					<div class="rounded-circle justify-center">
						<em class="fa fa-2x fa-code"></em>
					</div>
					<h4>Bootstrap 4</h4>
					<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
				</div>
				<div class="col-md-2 col-feature">
					<div class="rounded-circle justify-center">
						<em class="fa fa-2x fa-pencil"></em>
					</div>
					<h4>Easy to Edit</h4>
					<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
				</div>
				<div class="col-md-2 col-feature">
					<div class="rounded-circle justify-center">
						<em class="fa fa-2x fa-code"></em>
					</div>
					<h4>Bootstrap 4</h4>
					<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
				</div>
				<div class="col-md-2 col-feature">
					<div class="rounded-circle justify-center">
						<em class="fa fa-2x fa-pencil"></em>
					</div>
					<h4>Easy to Edit</h4>
					<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}