{% extends 'base.html.twig' %}

{% block content %}
    <section class="features-4 text-center">
        <div class="container">
            <h1 class="jumbotron-heading">List of <b>things</b></h1>
            <div class="divider"></div>

            <div class="row">
                <div class="col-md-2 col-feature">
                    <div class="rounded-circle justify-center">
                        <em class="fa fa-2x fa-paint-brush"></em>
                    </div>
                    <h4>Clean Design</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus erat sed sem sagittis cursus.</p>
                    <p><a class="btn btn-outline-primary mt-2" href="#" role="button">View details</a></p>
                </div>
                <div class="col-md-2 col-feature">
                    <div class="rounded-circle justify-center">
                        <em class="fa fa-2x fa-desktop"></em>
                    </div>
                    <h4>Responsive</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus erat sed sem sagittis cursus.</p>
                    <p><a class="btn btn-outline-primary mt-2" href="#" role="button">View details</a></p>
                </div>
                <div class="col-md-2 col-feature">
                    <div class="rounded-circle justify-center">
                        <em class="fa fa-2x fa-code"></em>
                    </div>
                    <h4>Bootstrap 4</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus erat sed sem sagittis cursus.</p>
                    <p><a class="btn btn-outline-primary mt-2" href="#" role="button">View details</a></p>
                </div>
                <div class="col-md-2 col-feature">
                    <div class="rounded-circle justify-center">
                        <em class="fa fa-2x fa-desktop"></em>
                    </div>
                    <h4>Responsive</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus erat sed sem sagittis cursus.</p>
                    <p><a class="btn btn-outline-primary mt-2" href="#" role="button">View details</a></p>
                </div>
                <div class="col-md-2 col-feature">
                    <div class="rounded-circle justify-center">
                        <em class="fa fa-2x fa-code"></em>
                    </div>
                    <h4>Bootstrap 4</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus erat sed sem sagittis cursus.</p>
                    <p><a class="btn btn-outline-primary mt-2" href="#" role="button">View details</a></p>
                </div>
                <div class="col-md-2 col-feature">
                    <div class="rounded-circle justify-center">
                        <em class="fa fa-2x fa-desktop"></em>
                    </div>
                    <h4>Responsive</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus erat sed sem sagittis cursus.</p>
                    <p><a class="btn btn-outline-primary mt-2" href="#" role="button">View details</a></p>
                </div>
                <div class="col-md-2 col-feature">
                    <div class="rounded-circle justify-center">
                        <em class="fa fa-2x fa-code"></em>
                    </div>
                    <h4>Bootstrap 4</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus erat sed sem sagittis cursus.</p>
                    <p><a class="btn btn-outline-primary mt-2" href="#" role="button">View details</a></p>
                </div>
                <div class="col-md-2 col-feature">
                    <div class="rounded-circle justify-center">
                        <em class="fa fa-2x fa-code"></em>
                    </div>
                    <h4>Bootstrap 4</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus erat sed sem sagittis cursus.</p>
                    <p><a class="btn btn-outline-primary mt-2" href="#" role="button">View details</a></p>
                </div>
                <div class="col-md-2 col-feature">
                    <div class="rounded-circle justify-center">
                        <em class="fa fa-2x fa-desktop"></em>
                    </div>
                    <h4>Responsive</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus erat sed sem sagittis cursus.</p>
                    <p><a class="btn btn-outline-primary mt-2" href="#" role="button">View details</a></p>
                </div>
                <div class="col-md-2 col-feature">
                    <div class="rounded-circle justify-center">
                        <em class="fa fa-2x fa-code"></em>
                    </div>
                    <h4>Bootstrap 4</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus erat sed sem sagittis cursus.</p>
                    <p><a class="btn btn-outline-primary mt-2" href="#" role="button">View details</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}