<section class="cover-2 text-left">
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
        <div class="container">
            <a class="navbar-brand" href="#">Library</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Comics <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Consoles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Devices</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Films</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Jeux</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Series</a>
                    </li>
                </ul>
                <form method="get" action="/search" id="searchform" enctype="text/plain" class="form-inline my-2 my-lg-0">
                    <input type="search" placeholder="Search" name="search" aria-label="Search" class="form-control mr-sm-2">
                    <button type="submit" class="btn btn-outline-white btn-outline">Go</button>
                </form>
            </div>
        </div>
    </nav>
</section>