{% extends 'base.html.twig' %}

{% block content %}
    <section class="content-4">
        <div class="container">
            <div class="row justify-center mt-5">
                <div class="col-md-6 pl-5 pr-5 text-center" >
                    <img class="mb-4 img-fluid" src="../images/placeholder-phone.png" >
                </div>
                <div class="col-md-6 text-left" >
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                    <p class="lead mt-4 mb-5">Integer libero nunc, elementum eu venenatis sed, molestie non tortor. Duis suscipit pulvinar justo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>

                    <div class="row">
                        <div class="col-md-6 col-feature mb-4">
                            <h4 class="mb-3">Clean Design</h4>
                            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                        </div>
                        <div class="col-md-6 col-feature mb-4">
                            <h4 class="mb-3">Bootstrap 4</h4>
                            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="features-4 text-center">
        <div class="container">
            <h2>Features</h2>
            <div class="divider"></div>
            <div class="row">
                <div class="col-md-4 col-feature">
                    <div class="rounded-circle justify-center">
                        <em class="fa fa-2x fa-paint-brush"></em>
                    </div>
                    <h4>Clean Design</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus erat sed sem sagittis cursus.</p>
                    <p><a class="btn btn-outline-primary mt-2" href="#" role="button">View details</a></p>
                </div>
                <div class="col-md-4 col-feature">
                    <div class="rounded-circle justify-center">
                        <em class="fa fa-2x fa-desktop"></em>
                    </div>
                    <h4>Responsive</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus erat sed sem sagittis cursus.</p>
                    <p><a class="btn btn-outline-primary mt-2" href="#" role="button">View details</a></p>
                </div>
                <div class="col-md-4 col-feature">
                    <div class="rounded-circle justify-center">
                        <em class="fa fa-2x fa-code"></em>
                    </div>
                    <h4>Bootstrap 4</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus erat sed sem sagittis cursus.</p>
                    <p><a class="btn btn-outline-primary mt-2" href="#" role="button">View details</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}